@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

html, body {
	font-family: Roboto;
	padding: 0;
	margin: 0;
	background-color: #f0f0f0;
	width: 100%;
	height: 100%;
}

#clientapp-root,
.client-app-container,
.page-client {
	height: 100%;
	width: 100%;
	overflow-x: hidden
}

.page-client {
	box-sizing: border-box;
	padding: 0;
}

.page-client {
	position: relative;
	display: flex;
}

.client-app-container {
	width: 100%;
	margin: 0 auto;
}

.inline-alert {
	padding: 20px;
	display: block;
	border: 1px solid #d00;
	color: #d00;
}

.appbar-logo {
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 20px;
	color: #000000;
}

@media only screen and (max-height: 329px) {
	.subtotal-fixed {
		display: none;
	}
	.subtotal-inline {
		display: block;
	}
	.cart-scrollable {
		height: 100%;
	}
}

@media only screen and (min-height: 330px) {
	.subtotal-fixed {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
	}
	.subtotal-inline {
		display: none;
	}
	.cart-scrollable {
		height: calc(100% - 101px);
	}
}

.cart-scrollable > div:first-child {
	-webkit-overflow-scrolling: touch;
}

.carousel-slider .control-dots .dot {
	box-shadow: none;
}

.carousel.carousel-slider .control-arrow:hover {
	background-color: rgba(33,150,243,0.2);
}

.overflow-hidden {
	overflow: hidden !important;
}

